.container {
    color: white;
    font-size: 25px;
}

.page {
    background-color: darkblue;
    margin-left: 6%;
    margin-right: 6%;
    height: 100vh;
    padding: 3%;
}

.movieImage {
    height: 40%;
    width: 30%;
    border-radius: 30px;
    margin-left: 30%;
    margin-bottom: 5%;
}

.field {
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    padding: 2%;
    border: black 0.1rem solid;
}

.ratingBox {
    background-color: rgb(197, 20, 20);
    margin-top: 3%;
    padding: 2%;
    border: black 0.1rem solid;
    border-radius: 20px;
    color: black;
}

.ratingComment {
    height: 10vh;
    width: 40vw;
    resize: none;
    border-radius: 20px;
    border: black 0.1rem solid;
    padding: 0.8%;
}

.ratingComment:hover {
    height: 10vh; 
    width: 5vw;
    font-size: 20px;
    border: black 0.1rem solid;
    border-radius: 10px;
}

.ratingButton {
    background-color: aquamarine;
    color: aliceblue;
    border: black 0.1rem solid;
    border-radius: 20px;
    height: 10vh;
    width: 13vw;
    font-size: 22px;
}

.ratingButton:hover {
    background-color: black;
    color: aliceblue;
    border: aliceblue 0.1rem solid;
}

.ratingComment:focus {
    animation: resizeComment 1s forwards;
}

@keyframes resizeComment{
    from {
        height: 10vw;
    }
    to {
        height: 15vw;
    }
}

.ratings {
    background-color: aliceblue;
    border: black 0.1rem solid;
    border-radius: 20px;
    padding: 1%;
    color: black;
}

.rComment {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    color: aliceblue;
    background-color: dimgray;
    border: black 0.1rem solid;
    border-radius: 10px;
}
